@import'./color.scss';
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');





* {
    box-sizing: border-box;
    color: #FDFDFD;


}

body {
    background-color: rgb(53, 51, 51);

    .border {
        width: 100vw;
        // height: 100vh;
        // border: 4px solid black;
        background-color: rgb(40, 37, 37);
        @include display;
        padding: 10px;
        background-image: url('./src/pexels-aleksandar-pasaric-325185.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .inner-border {
            @include display;

            width: 85%;
            // height: 80%;
            // border: 2px solid black;
            // background-color: $color ;
            flex-wrap: wrap;



            .star {
                width: 60px;
                transform: translate(-50%, -50%);
                height: 60px;
                border: 4px solid red;
                border-radius: 50%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.5em;
                color: white;
                transition: 1.2s;
                background-color: rgba(0, 0, 0, 0.461);
            }

            .selectanimation {
                animation: starr infinite linear;
                animation-duration: 2s;
                box-shadow: 2px 2px 2px 2px black;
            }

            @keyframes starr {
                0% {
                    width: 60px;
                    height: 60px;
                }

                25% {
                    width: 75px;
                    height: 75px;
                }

                50% {
                    width: 90px;
                    height: 90px;
                }

                75% {
                    width: 105px;
                    height: 105px;
                }



                100% {
                    width: 130px;
                    height: 130px;
                }
            }


            .left-box {
                @include display($flex: column, $justify: space-evenly);
                margin: 10px;
                width: 48%;
                height: 700px;
                font-family: 'Kalam', cursive;
                // border: 2px solid gold;
                text-transform: uppercase;
                // background-color: rgba(0, 0, 0, 0.779);
                // background-color: rgba(0, 0, 255, 0.326);
                background: conic-gradient(rgba(49, 49, 231, 0.514), rgba(0, 0, 255, 0.258), rgba(45, 45, 172, 0.418));
                // background-image: url('./src/sayan-majhi-KOY1fbeVMLI-unsplash.jpg');
                // background-size: cover;
                border-radius: 10px;
                box-shadow: -6px 3px 2px 2px black, -8px 6px 2px 2px black;
                text-align: center;



                .para1 {
                    font-size: 3.5em;
                    word-spacing: 10px;
                    // margin: 15px;
                    color: rgba(255, 0, 191, 0.808);
                    text-shadow: 2px 1px 1px black, 10px 1px 1px black;
                    font-weight: 750;
                    letter-spacing: 6px;
                    cursor: pointer;
                    transition: 1.5s;



                    @media(max-width:737px) {
                        font-size: 2.8em;
                    }
                }



                @keyframes movv {
                    0% {
                        color: orangered;
                        transform: scale(1);
                    }

                    25% {
                        transform: scale(1.1);
                        color: gold;
                    }

                    50% {
                        transform: scale(1.2);
                        color: blue;
                    }

                    75% {
                        transform: scale(1.3);
                        color: pink;
                    }

                    100% {
                        transform: scale(1.4);
                        color: red;

                    }
                }

                .para2 {
                    font-size: 2.2em;
                    // margin: 15px;
                    color: rgba(200, 255, 0, 0.9);
                    text-shadow: 2px 1px 1px black, 10px 1px 1px black;
                    word-spacing: 10px;
                    font-weight: 650;
                    letter-spacing: 6px;
                    cursor: pointer;

                    transition: 1.5s;

                    @media(max-width:737px) {
                        font-size: 1em;
                    }
                }


                .para3 {
                    font-size: 1.7em;
                    cursor: pointer;
                    transition: 1.5s;
                    color: rgba(0, 255, 191, 0.865);
                    // margin: 15px;
                    text-shadow: 2px 1px 1px black, 8px 1px 1px black;
                    word-spacing: 10px;
                    font-weight: 650;
                    letter-spacing: 6px;

                    @media(max-width:737px) {
                        font-size: 1em;
                    }
                }

                @media(max-width:1244px) {
                    width: 90%;
                    height: 550px;
                }

                .selectitalic {
                    font-style: italic;
                    font-family: cursive;
                    transition: 1.2s;
                    text-transform: capitalize;
                    text-decoration: overline;
                    animation: movv infinite linear;
                    animation-duration: 3.2s;
                }

                // .disco {
                //     // margin-bottom: 40px;
                //     width: 120px;
                //     height: 60px;
                //     border: 3px solid rgba(255, 255, 255, 0.352);
                //     border-radius: 50px;
                //     position: relative;
                //     display: flex;
                //     justify-content: space-around;
                //     align-items: center;

                //     p {
                //         margin: 10px;
                //         font-size: 2em;
                //     }

                //     .cir {
                //         position: absolute;
                //         width: 50px;
                //         left: 3px;
                //         transition: 1.2s;
                //         top: 2px;
                //         cursor: pointer;
                //         background-color: rgba(0, 0, 0, 0.429);
                //         height: 50px;
                //         border-radius: 50%;
                //         border: 4px solid rgba(255, 255, 255, 0.507);
                //     }

                //     .selectcir {
                //         left: 60px;
                //         background-color: rgba(0, 0, 0, 0.429);
                //     }
                // }

            }


            .right-box {
                margin: 10px;
                width: 48%;
                transition: 1.2s;
                height: 700px;
                // border: 2px solid gold;
                border-radius: 10px;
                // background-color: rgba(0, 0, 0, 0.779);
                background: conic-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.267));
                overflow: hidden;
                @include display($flex: column);
                position: relative;
                box-shadow: -6px 3px 2px 2px black, -8px 6px 2px 2px black;



                .user {
                    margin: 10px;
                    width: 90%;
                    height: 15%;
                    // border: 2px solid white;
                    @include display;
                    transition: 0.4s;


                    @media(max-width:1244px) {
                        margin: 30px;
                    }

                    #userIcon {
                        width: 15%;
                        height: 70%;
                        border: 3px solid gold;
                        box-shadow: 0px 3px 1px 2px black;
                        @include display;
                        font-size: 2em;
                        cursor: pointer;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;

                        padding: 10px;

                        @media(max-width:737px) {
                            font-size: 1.4em;
                        }

                        #sp {
                            text-shadow: 3px 3px 3px black;
                        }

                        &:hover {
                            background-color: rgba(88, 83, 83, 0.379);
                        }
                    }



                    .userr {
                        background-color: transparent;
                        width: 0%;
                        height: 70%;
                        transition: 1s;
                        margin-right: 5px;
                        border: 2px solid white;
                        outline-color: rgb(3, 243, 95);
                        outline-width: 2px;
                        border: none;
                        outline: none;
                        border-bottom: 4px solid rgb(200, 255, 0);

                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;



                    }

                    .userr::placeholder {
                        color: gold;
                        padding: 10px;
                        padding-top: 15px;
                        font-size: 1.5em;
                    }

                    .selectuser {
                        width: 85%;
                        transition: 1s;
                        box-shadow: 1px 3px 4px 2px black;
                    }
                }

                .email {
                    margin: 10px;
                    width: 90%;
                    @include display;
                    height: 15%;
                    // border: 2px solid white;
                    font-size: 1.2em;
                    transition: 0.4s;

                    @media(max-width:1244px) {
                        margin: 30px;
                    }

                    #emailIcon {
                        width: 15%;
                        height: 70%;

                        @include display;
                        font-size: 1.3em;
                        border: 3px solid gold;
                        box-shadow: 0px 3px 1px 2px black;
                        padding: 10px;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        cursor: pointer;



                        @media(max-width:737px) {
                            font-size: 0.8em;
                        }

                        #spe {
                            text-shadow: 3px 3px 3px black;
                        }

                        &:hover {
                            background-color: rgba(88, 83, 83, 0.379);
                        }
                    }

                    .emaill {
                        background-color: transparent;
                        width: 0%;
                        height: 70%;
                        margin-right: 5px;

                        // outline-style: groove;
                        outline-color: rgb(3, 243, 95);
                        outline-width: 2px;
                        border: none;
                        border-bottom: 4px solid rgb(200, 255, 0);
                        outline: none;
                        transition: 1s;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;

                    }

                    .emaill::placeholder {
                        color: gold;
                        padding: 10px;
                        padding-top: 15px;
                        font-size: 1.5em;
                    }

                    .selectemail {
                        transition: 1se;
                        width: 85%;
                        box-shadow: 1px 3px 4px 2px black;
                    }
                }

                .password {
                    margin: 10px;
                    width: 90%;
                    font-size: 1.8em;
                    height: 15%;
                    // border: 2px solid white;
                    @include display;
                    transition: 0.8s;

                    @media(max-width:1244px) {
                        margin: 30px;
                    }



                    #passwordIcon {
                        width: 15%;
                        padding: 5px;
                        height: 70%;
                        padding: 10px;
                        border: 3px solid gold;
                        box-shadow: 0px 3px 1px 2px black;
                        @include display;
                        font-size: 1em;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        cursor: pointer;

                        @media(max-width:737px) {
                            font-size: 0.8em;
                        }

                        #spp {
                            text-shadow: 3px 3px 3px black;
                        }

                        &:hover {
                            background-color: rgba(88, 83, 83, 0.379);
                        }
                    }

                    .passwordd {
                        background-color: transparent;
                        width: 0%;
                        height: 70%;
                        outline: none;
                        margin-right: 5px;
                        border: 2px solid white;
                        // outline-style: groove;
                        outline-color: rgb(3, 243, 95);
                        outline-width: 2px;
                        border: none;
                        transition: 1.2s;
                        border-bottom: 4px solid rgb(200, 255, 0);

                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;

                    }

                    .passwordd::placeholder {
                        color: gold;
                        padding: 10px;
                        padding-top: 15px;
                        font-size: 1.5em;
                    }

                    .selectpassword {
                        transition: 1s;
                        width: 85%;
                        box-shadow: 1px 3px 4px 2px black;
                    }
                }

                .forget {
                    margin: 10px;
                    width: 90%;
                    height: 15%;
                    // border: 2px solid white;
                    @include display;
                    font-weight: 400;
                    font-size: 1.1em;
                    font-family: 'Sevillana', cursive;

                    @media(max-width:1244px) {
                        margin: 30px;
                    }

                    h1 {
                        a {
                            color: rgb(22, 155, 237);
                            text-decoration: none;
                            text-shadow: 2px 2px 2px black;
                            // letter-spacing: 4px;

                            &:hover {
                                color: red;
                            }
                        }
                    }

                    @media(max-width:737px) {
                        font-size: 0.6em;
                    }
                }

                .login {
                    margin: 10px;
                    width: 90%;
                    height: 15%;
                    // border: 2px solid white;
                    @include display($justify: space-around);

                    @media(max-width:1244px) {
                        margin: 30px;
                    }

                    .loginbutton {
                        @include display;
                        font-size: 1.3em;
                        text-transform: uppercase;
                        width: 40%;
                        height: 70%;
                        background: linear-gradient(rgba(49, 49, 251, 0.518), rgba(170, 0, 255, 0.468), rgba(0, 110, 255, 0.436));
                        border: 2px solid rgba(0, 0, 0, 0.514);
                        border-radius: 20px;
                        transition: 1.2s;
                        cursor: pointer;

                        box-shadow: 2px 2px 1px 1px black, 4px 4px 2px 2px rgb(82, 76, 76);

                        &:hover {
                            background: linear-gradient(rgba(49, 49, 251, 0.142), rgba(170, 0, 255, 0.838), rgba(0, 110, 255, 0.269));
                            box-shadow: 2px 2px 1px 1px black, 4px 4px 2px 2px rgb(82, 76, 76);
                        }

                        @media(max-width:737px) {
                            font-size: 0.8em;
                        }

                    }


                    .signbutton {
                        @include display;
                        font-size: 1.3em;
                        text-transform: uppercase;
                        width: 40%;
                        height: 70%;
                        background: linear-gradient(rgba(12, 228, 12, 0.413), rgba(12, 228, 160, 0.477), rgba(188, 228, 12, 0.4));
                        // background-color: rgb(12, 228, 12);
                        border: 2px solid rgba(0, 0, 0, 0.674);
                        border-radius: 20px;
                        transition: 1.2s;
                        cursor: pointer;
                        box-shadow: 2px 2px 1px 1px black, 4px 4px 2px 2px rgb(82, 76, 76);

                        &:hover {
                            background: linear-gradient(rgba(12, 228, 12, 0.731), rgba(12, 228, 160, 0.735), rgba(188, 228, 12, 0.74));
                        }
                    }

                }

                @media(max-width:1244px) {
                    width: 90%;
                    height: 900px;
                }



            }

        }
    }



}